<div class="page__comments">
  {% capture comments_label %}{{ site.data.ui-text[site.locale].comments_label | default: "Comments" }}{% endcapture %}
      <section id="static-comments">
          <!-- Start static comments -->
          <div class="js-comments">
            {% if site.data.comments[page.slug] %}
              <h3 class="page__comments-title">{{ site.data.comments[page.slug] | size }} {{ site.data.ui-text[site.locale].comments_title | default: "Comments" }}</h3>
            
            {% assign comments = site.data.comments[page.slug] | sort %}

              {% for comment in comments %}
                {% assign email = comment[1].email %}
                {% assign name = comment[1].name %}
                {% assign url = comment[1].url %}
                {% assign date = comment[1].date %}
                {% assign message = comment[1].message %}
            
                            {% assign avatar_test = comment[1].avatar_test %}

                {% include comment.html index=forloop.index email=email name=name url=url date=date message=message avatar_test=avatar_test %}
              {% endfor %}
            {% endif %}
          </div>
          <!-- End static comments -->

 
        
        <!--  include comment-form.html  -->

          
                
          {% if site.reCaptcha.siteKey %}<script async src="https://www.google.com/recaptcha/api.js"></script>{% endif %}
      </section>
</div>
