{% if page.image.feature %}
{% include head-landing.html %}
<style>
   .featured-image{
   object-fit: cover;
   }
</style>
<section class="article">

<div class="overlay big"></div>
<video autoplay="" muted="" loop="" class="featured-image big">
   <source src="https://cambragol.github.io/advent-of-the-trinity/images/trinity_travelling.mp4" type="video/mp4">
</video>
{% else %}
{% include head-dark.html %}
<section class="article pad-top">
   {% endif %}
   <article class="wrap post wide">
      <header class="post-header">
         <hgroup>
            <h1 class="page_title">{{ page.title }}</h1>
            <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
         </hgroup>
      </header>
      {{ content }}
      <p class="share_para">
         <a class="share" href="https://cambragol.github.io/advent-of-the-trinity/feed.xml" target="_blank" data-dnt="true">Feed</a>
         <a class="share" href="https://twitter.com/intent/tweet?text=&quot;Quest Box Back&quot;%20/articles/Quest_Box_Back%20via%20@" data-dnt="true">Share</a>      
      </p>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   </article>
   </div>
</section>
</div>
{% include footer.html %}
