{% if page.image.feature %}
{% include head-landing.html %}
<style>
   .featured-image{
   object-fit: cover;
   }
</style>
<section class="article">
<div class="hero-text" style="top: 400px;">
   <div class="slider">
      <div class="just_text">
         <blockquote class="groucho">
            That. Was. Epic. Threat of the Trinity is a masterpiece.
            <cite>Fenyx4</cite>
         </blockquote>
      </div>
      <div class="just_text">
         <blockquote class="groucho">
            The original experience... but better.
            <cite>Inhouse Beta-tester</cite>
         </blockquote>
      </div>
      <div class="just_text">
         <blockquote class="groucho">
            It doesn't feel like a mod... it feels like it was always part of the game. Always this way.
            <cite>Radscience</cite>
         </blockquote>
      </div>
      <div class="just_text">
         <blockquote class="groucho">
            Finally, a triumphant return to the world of Ultima IV--with plenty of surprises for old and new players alike! Can't wait to play it again!	  <cite>MrKnitster</cite>
         </blockquote>
      </div>
      <div class="just_text">
         <blockquote class="groucho">
            The story was cool and it was pretty hard. Well, really hard. The new Crypts were crazy. Insane!
            <cite>Inhouse Beta-tester</cite>
         </blockquote>
      </div>
   </div>
   <!--End mc_embed_signup-->
   <svg class="arrows">
      <path class="a1" d="M0 0 L30 32 L60 0"></path>
      <path class="a2" d="M0 20 L30 52 L60 20"></path>
      <path class="a3" d="M0 40 L30 72 L60 40"></path>
   </svg>
   <!--<img src="{{ site.url }}/Art/Ultima_Trinity_New_Logo_4.svg" class="hero_title" onerror="this.src='{{ site.url }}/Art/Ultima_IV_Advent_Trinity_huge.png'" alt="{{ site.title }}" />-->
   <!-- <img src="{{ site.url }}/Art/Ultima_Trinity_Flame_Title_no_Animated.png" class="hero_title visible" onerror="this.src='{{ site.url }}/Art/Ultima_Trinity_Flame_Title_no_Animated.png'" alt="{{ site.title }}" />-->
   <!--<img src="{{ site.url }}/Art/Ultima_Trinity_Flame_Title_Animated.png" class="hero_title hidden img-top" onerror="this.src='{{ site.url }}/Art/Ultima_Trinity_Flame_Title_Animated.png'" alt="{{ site.title }}" />-->
   <!--<img src="{{ site.url }}/Art/Ultima_IV_Advent_Trinity_huge.svg" class="hero_title" onerror="this.src='{{ site.url }}/Art/Ultima_IV_Advent_Trinity_huge.png'" alt="{{ site.title }}" />-->
   <!--<img src="{{ site.url }}/images/animated_title_small.png" class="hero_title" onerror="this.src='{{ site.url }}/images/animated_title.png'" alt="{{ site.title }}" />-->
</div>
<div class="overlay big"></div>
<video autoplay="" muted="" loop="" class="featured-image big">
   <source src="https://cambragol.github.io/advent-of-the-trinity/images/trinity_travelling.mp4" type="video/mp4">
</video>
{% else %}
{% include head-dark.html %}
<section class="article pad-top">
   {% endif %}
   <article class="wrap post wide">
      <header class="post-header">
         <hgroup>
            <h1 class="page_title">{{ page.title }}</h1>
            <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
         </hgroup>
      </header>
      {{ content }}
      <p class="share_para">
         <a class="share" href="https://cambragol.github.io/advent-of-the-trinity/feed.xml" target="_blank" data-dnt="true">Feed</a>
         <a class="share" href="https://twitter.com/intent/tweet?text=&quot;Quest Box Back&quot;%20/articles/Quest_Box_Back%20via%20@" data-dnt="true">Share</a>      
      </p>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   </article>
   <div class="faq post wide fullwide">
      <header class="post-header">
         <hgroup>
            <h1 class="page_title">Frequently Asked Questions</h1>
            <p class="intro"></p>
         </hgroup>
      </header>
      <details>
         <summary>Do you need the original Ultima IV to play this?</summary>
         <p>Yes and No. Threat of the Trinity is an addon for the DOS version of Ultima IV Quest of the Avatar. A full installation of the original game will be required to play. However, every file has been modified, and so an original install will be completely overwritten.</p>
      </details>
      <details>
         <summary>Does this work with XU4?</summary>
         <p>No. Threat of the Trinity is a completely new game and can only run on DOS, through a DOS emulator.</p>
      </details>
      <details>
         <summary>Does this work with the UltimaPatcher?</summary>
         <p>No. Threat of the Trinity is a completely new game engine, and has different graphics from Ultima IV and is incompatible with the UltimaPatcher.</p>
      </details>
      <details>
         <summary>Are save games from Ultima IV compatible?</summary>
         <p>Yes. Save games from the original Ultima IV are fully compatible with Threat of the Trinity. Saves made in Threat of the Trinity are also compatible with the original DOS Ultima IV.</p>
      </details>
      <details>
         <summary>Can this be played on MacOS? Or Windows?</summary>
         <p>Yes. It can be installed and played anywhere you can run DosBox, or most DOS emulators.</p>
      </details>
      <details>
         <summary>Does Threat of the Trinity change the Quest of the Avatar?</summary>
         <p>Yes and No. The quests in Threat of the Trinity do not change the main quest, other than to refresh some locations. The quests of Threat of the Trinity compliment and augment Quest of the Avatar, but are not required to be completed to finish the game. Certain game rules have been tweaked or rebalanced, but still operate in the spirite of the original.</p>
      </details>
   </div>
   </div>
</section>
</div>
{% include footer.html %}
