{% if page.image.feature %}

{% include head-landing.html %}

<style>
.featured-image{
	  object-fit: cover;
}
</style>

<section class="article">

      <div class="hero-text" style="top: 350px;"> 
	      
	      
	   <hgroup>
            <h1 class="page_title">Digital Download on Available Now!</h1>
            <p class="intro">Celebrate 40 years of Ultima IV by reliving the adventure.</p>
		   	    <strong>Set forth once more on the Quest of the Avatar. But this time, can you first quell the...</strong>

      </hgroup>
            
    <!--<img src="{{ site.url }}/Art/Ultima_Trinity_New_Logo_4.svg" class="hero_title" onerror="this.src='{{ site.url }}/Art/Ultima_IV_Advent_Trinity_huge.png'" alt="{{ site.title }}" />-->
    <!-- <img src="{{ site.url }}/Art/Ultima_Trinity_Flame_Title_no_Animated.png" class="hero_title visible" onerror="this.src='{{ site.url }}/Art/Ultima_Trinity_Flame_Title_no_Animated.png'" alt="{{ site.title }}" />-->
    <img src="{{ site.url }}/images/Ultima_Trinity_Flame_Title_Animated_Trinity.png" class="hero_title img-top" onerror="this.src='{{ site.url }}/images/Ultima_Trinity_Flame_Title_Animated_Trinity.png'" alt="{{ site.title }}" />
    <!--<img src="{{ site.url }}/Art/Ultima_IV_Advent_Trinity_huge.svg" class="hero_title" onerror="this.src='{{ site.url }}/Art/Ultima_IV_Advent_Trinity_huge.png'" alt="{{ site.title }}" />-->
    <!--<img src="{{ site.url }}/images/animated_title_small.png" class="hero_title" onerror="this.src='{{ site.url }}/images/animated_title.png'" alt="{{ site.title }}" />-->

		<!--<svg class="arrows">
		<path class="a1" d="M0 0 L30 32 L60 0"></path>
		<path class="a2" d="M0 20 L30 52 L60 20"></path>
		<path class="a3" d="M0 40 L30 72 L60 40"></path>
		</svg>-->
		  
    </div>


      
  <div class="overlay big"></div>
  <video autoplay="" muted="" loop="" class="featured-image big">
  <source src="https://cambragol.github.io/advent-of-the-trinity/images/ThreatoftheTrinity.mp4" type="video/mp4">
  </video>
{% else %}

{% include head-dark.html %}

<section class="article pad-top">

{% endif %}
  
	
    </section>
</div>
