{% if page.image.feature %}
{% include head-landing.html %}
<style>
   .featured-image{
   object-fit: cover;
   }
</style>
<section class="article">

<div class="overlay big"></div>
<video autoplay="" muted="" loop="" class="featured-image big">
   <source src="https://cambragol.github.io/advent-of-the-trinity/images/trinity_travelling.mp4" type="video/mp4">
</video>
{% else %}
{% include head-dark.html %}
<section class="article pad-top">
   {% endif %}
   <article class="wrap post wide">
      <header class="post-header">
         <hgroup>
            
         </hgroup>
      </header>
      {{ content }}
      <p class="share_para"> 
      </p>
   </article>
   </div>
</section>
</div>
